<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 

  <title>NBA Fantasy Draft</title>

  <style>
    table {
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }

    th {
      cursor: pointer;
    }

    th, td {
      text-align: left;
      padding: 16px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  </style>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script>
  /* The function */
  function json2table(json, classes) {
    var cols = Object.keys(json[0]);
    
    var headerRow = '';
    var bodyRows = '';
    
    classes = classes || '';

    cols.map(function(col) {
      headerRow += '<th>' + col + '</th>';
    });

    json.map(function(row) {
      bodyRows += '<tr>';

      cols.map(function(colName) {
        bodyRows += '<td align="right">' + row[colName] + '</td>';
      })

      bodyRows += '</tr>';
    });

    return '<table id="myTable" cellspacing="0" width="100%" class="' +
           classes +
           '"><thead><tr class="tableizer-firstrow">' +
           headerRow +
           '</tr></thead><tbody>' +
           bodyRows +
           '</tbody></table>';

  }

  </script>

  <script>


  d3.json("/json_draft_data/13/10", function(response) {
    document.getElementById('tableGoesHere').innerHTML = json2table(response, "table table-striped table-bordered table-sm table-hover");      
  });


  </script>




  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="container">
     <div class="outer">
      <img src="">
    </div> 
  </div>
  <header id="top-header">
    <img class="resize" src="../static/images/nba.jpg">
  </header>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/heatmap">Map</a>
      <a href="/playerdraft">Player Draft</a>
      <a href="/fantasymatch">Fantasy Match</a>
    </div>
  
    <div class="row">
      <form action="">
        <div class="col-md-4">
          <div class="box1">
            How many teams are in the League?
            <select id="teamnum">
              <option selected="selected">10</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
            </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box1">
            How many players does each roster have?
            <select id="playernum">
              <option selected="selected">13</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
            </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box1">
            <button id="filter-btn" type="submit" class="btn">Get the Stats!</button>
        </div>
      </div>
      </form> 
    </div>
    <br>

    <div class="row">
      <form action="">
        <div id="tableGoesHere" class="col-md-12">


      </div>
      
      </form> 
    </div>


















  <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
  <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>  
  <script src="../static/js/playerdraft.js"></script>
  <script src="../static/js/config.js"></script>

<script>

function getColor(value, min, max){
    //value from 0 to 1

    var hue=((value-min)/(max-min)*120).toString(10);
    //var hue=((max-(value-min))*120).toString(10);
    return ["hsl(",hue,",100%,50%)"].join("");
}

$(document).ready(function(){
  $('#myTable').dataTable({
      'rowCallback': function(row, data, index){
      $(row).find('td:eq(2)').css('background-color', getColor(data[2], -2.32, 2.84));
      $(row).find('td:eq(3)').css('background-color', getColor(data[3], -3.9, 2.74));
      $(row).find('td:eq(4)').css('background-color', getColor(data[4], -1.38, 2.98));
      $(row).find('td:eq(5)').css('background-color', getColor(data[5], -2.4, 2.76));
      $(row).find('td:eq(6)').css('background-color', getColor(data[6], -2.11, 3.77));
      $(row).find('td:eq(7)').css('background-color', getColor(data[7], -1.5, 3.33));
      $(row).find('td:eq(8)').css('background-color', getColor(data[8], -2.32, 3.27));
      $(row).find('td:eq(9)').css('background-color', getColor(data[9], -1.4, 3.9));
      $(row).find('td:eq(10)').css('background-color', getColor(data[10], -3.57, 2.03));
      $(row).find('td:eq(11)').css('background-color', getColor(data[11], -1.08, 1.18));

      }         
  });
});

</script>


</body>

</html>